<ol class="breadcrumb">
    <li class="active">Início</li>
</ol>




<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Contabilização da folha - <b>CT2010</b></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Selecione o arquivo</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="alert alert-success" role="alert" id="feedback" style="display: none">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input id="txtUploadFile" name="file" class="input-file file" type="file">
                                <p class="help-block">Selecione um arquivo com a extensão TXT</p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        
    </div>
</div>

